.hero {
  background: linear-gradient(to right, var(--color-bg) 0%, #c9aa6131 100%);
}
.hero__container {
  flex-direction: column-reverse !important;
  gap: 3rem;
  animation: fadeInUp 1s ease-out;
}
.hero__content {
  max-width: 700px;
  width: 100%;
}

.hero__title {
  font-size: clamp(3rem, 10vw, 5rem);
  color: var(--color-primary);
  margin-bottom: 2rem;
  line-height: 1.1;
}

.hero__contacts {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 2rem;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--secondary {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (width >= 1024px) {
  .hero__container {
    flex-direction: row !important;
    width: 100%;
  }
}
