/* Tablet */
@media (min-width: 768px) {
  .header__container {
    padding: 2rem 4rem;
  }
  .hero__container {
    padding: 4rem 2rem;
  }
  .hero__subtitle {
    color: var(--color-secondary);
  }
  .hero__contacts {
    flex-direction: row;
  }
  .hero__image img {
    height: 60vh;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .header__container {
    padding: 1rem;
  }
  .menu-hamburguer {
    display: none;
  }
  .navbar {
    display: block;
    top: 15px;
    right: 40px;
  }
  .navbar__list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .hero__container {
    flex-direction: row;
    padding: 4rem 1rem;
  }
  .hero__image img {
    height: 70vh;
  }
}
