@import url("./css/header.css");
@import url("./css/hero.css");
@import url("./css/services.css");
@import url("./css/about.css");
@import url("./css/contact.css");
@import url("./css/footer.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-primary: #060916;
  --color-secondary: #c9aa6120;
  --color-span: #c0c0c0;
  --color-text: #2c2c2c;
  --color-text-light: #5a5a5a;
  --color-bg: #fefdfb;
  --color-white: #ffffff;

  --font-heading: "Cormorant Garamond", serif;
  --font-base: "Inter", sans-serif;

  --border-radius-sm: 4px;
  --width-container: 1280px;
}
html {
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* scroll colorido */
  scrollbar-color: #060916 #c0c0c0;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #8e44ad;
  border-radius: 20px; /* Deixa arredondado */
  border: 3px solid #f1f1f1; /* Cria um espaço entre o polegar e o trilho */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #732d91;
}
body {
  min-height: 100vh;
  font-family: var(--font-base);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.7;
}
main {
  flex: 1;
}
section {
  padding: 2rem 1rem;
}
h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: 600;
  line-height: 1.2;
}
h2 {
  font-size: clamp(1rem, 10vw, 3rem);
  color: var(--color-primary);
  margin-bottom: 1.5rem;
}
.subtitle {
  font-size: 1rem;
  color: var(--color-text-light);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.description {
  font-size: 1.25rem;
  color: var(--color-text-light);
  margin-bottom: 2.5rem;
}
.container {
  width: 100%;
  max-width: var(--width-container);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1rem;
}

.btn {
  padding: 1rem 2rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: var(--border-radius-sm);
  transition: ease-in-out 0.3s;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(26, 35, 50, 0.2);
}

.image {
  max-width: 600px;
  width: 100%;
}
img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--border-radius-sm);
}
